body {
    background: #4d96db;
  }
  
  h1 {
    margin-left: 350px;
  }
  
  .flex-outer li, .flex-inner {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex-outer > li > label {
    flex: 1 0 125px;
    max-width: 225px;
    padding: 8px;
  }
  
  .flex-outer li p{
    flex: 1 0 125px;
    padding: 8px;
    max-width: 225px;
  }
  
  .flex-outer > li > label + * {
    flex: 1 0 225px;
  }
  .flex-inner {
    flex: 1 0 225px;
  }

  .flex-outer > li > button {
    padding: 6px 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 3px;
  }
  .flex-inner li {
    width: 80px;
  }
  .flex-outer {
    max-width: 800px;
    padding: 0px 16px;
  }